<!DOCTYPE html>
<html>
<head>
    <title>Clusters visualization</title>
    <style>
        body {
            font-family: sans-serif;
            background-color: #eee;
        }
        h1 {
            text-align: center;
            color: #00b8d4;
        }
        h2 {
            text-align: center;
            color: #00b8d4;
        }
    </style>
</head>
<body>
    <h1>Clusters visualization</h1>
    <div id="scatter"></div> <!-- Add this div element with the ID 'scatter' -->
</body>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
    var figure = {{ figure | safe }};
    Plotly.plot('scatter', figure.data, figure.layout);
</script>
</html>
