<!DOCTYPE html>
<html>
<head>
    <title>Scatter Plot</title>
    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <style>
        .supper_button {
            margin-right: 10px;
            margin-top: 20px;
            width: 200px;
            height: 40px;
            font-size: 14px;
        }

        input[type="submit"], button.delete {
            margin-right: 10px;
            margin-top: 20px;
            width: 200px;
            height: 40px;
            font-size: 14px;
            background-color: rgb(250, 89, 89);
            padding: 10px 10px;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            cursor: pointer;
        }

        .container {  display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-auto-rows: 1fr;
        gap: 3px 3px;
        grid-auto-flow: row;
        grid-template-areas:
            "Compare Filter";
        }

        /*.Plot { grid-area: Plot; }*/

        .Compare { 
            grid-area: Compare;
            display: flex;
            justify-content: center;
            align-items: center; 
            flex-direction: column;}

        .Filter { grid-area: Filter; }

        /*.Report { grid-area: Report; }*/

        input[type="submit"], button.my-button {
        padding: 10px 10px;
        background-color: rgb(6, 143, 255);
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
        width: 100%;
        }
        .Report {
        display: flex;
        padding-bottom: 10px;
        margin-bottom: 20px;
        justify-content: center;
        } 

        /* CSS */
        .button-36 {
        background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
        border-radius: 8px;
        border-style: none;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        flex-shrink: 0;
        font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
        font-size: 16px;
        font-weight: 500;
        height: 4rem;
        padding: 0 1.6rem;
        text-align: center;
        text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
        transition: all .5s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin-bottom: 20px;
        }

        .button-36:hover {
        box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
        transition-duration: .1s;
        }

        @media (min-width: 768px) {
        .button-36 {
            padding: 0 2.6rem;
        }
        }
        
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">NARWOS NLP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="./">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/show_clusters">Analysis <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>    
    <div id="scatter" style="align-items: center;"></div> <!-- Add this div element with the ID 'scatter' -->
    <div class="Plot">
    <!--<canvas id="myChart"></canvas>-->
    </div>
    <div style="padding: 20px;margin-left: 25%;margin-right: 25%; margin-top: 20px; box-shadow: 0px 0px 10px #999; border-radius: 10px; display: flex; justify-content: center; flex-direction: column;">
        <h2>Download clustering reports</h2>
            <div class="Report">
                <div style="margin-right: 10px;">
                    <form action="/get_detailed_cluster_exec_report"  method="post">
                        <input type="submit" value="Get detailed report" style="margin-right: 10px; margin-top: 20px; margin-bottom: 20px; width: 200px; height: 40px; font-size: 14px; text-align: center;">
                        <select id="report_type_exec" name="report_type_exec">
                            <option value="excel">Excel</option>
                            <option value="csv">CSV</option>
                        </select>
                    </form>
                </div>
                <div style="margin-right: 10px;">
                    <form action="/get_summary_cluster_exec_report"  method="post">
                        <input type="submit" value="Get summary report" style="margin-right: 10px; margin-top: 20px; margin-bottom: 20px; width: 200px; height: 40px; font-size: 14px; text-align: center;">
                        <select id="report_type_exec" name="report_type_exec">
                            <option value="excel">Excel</option>
                            <option value="csv">CSV</option>
                        </select>
                    </form>
                </div>
            </div>
            <div style="display: inline-flex; justify-content: center;">
                <div>
                    <button  id="download-report-select-button" class="button-36" >More download options...</button>
                </div>
            </div>
            <div id="download-report-select" name="download-report-select" style="display: none;">
                <form style="box-shadow: 0px 0px 0px #999;" class="form-style" action="/get_chosen_cluster_exec_report" method="post">
                    <label for="chosen_report_name">Choose another report to download</label>
                    <select id="chosen_report_name" name="chosen_report_name" required>
                      <option value="" selected disabled hidden>(Choose file)</option>
                      {% for report in reports %}
                          <option value="{{ report }}">{{ report }}</option>
                      {% endfor %}
                    </select>
                    <label style="margin-top: 5px;" for="chosen_report_type">Choose report type</label>
                    <select style="margin-top: 10px;" id="chosen_report_type" name="chosen_report_type" required>
                        <option value="excel">Excel</option>
                        <option value="csv">CSV</option>
                      </select>
                    <br><br>
                    <input type="submit" value="Download report">
                  </form>
            </div>
    </div>
    <div class="container" >
        <div class="Compare" style="margin-top: 20px;">
            <button id="quick-clustering-button" class="button-36">Quick clustering</button>
            <div class="quick-clustering" id="quick-clustering" style="display: none;">
                <form class="form-style" action="/update_clusters_new_file"  method="post" enctype="multipart/form-data">
                    <label>Load new file:</label>
                    <input type="file" name="file">
                    <br>
                    <input type="submit" value="Cluster with new file" data-toggle="modal" data-target="#exampleModalCenter">
                                <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
                        <div class="modal-dialog modal-dialog-centered" role="document" data-backdrop="static">
                        <div class="modal-content" data-backdrop="static">
                            <div class="modal-header" data-backdrop="static">
                            <h5 class="modal-title" id="exampleModalLongTitle">Clustering in progress</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            Please do not close this window and wait for clusterization process to finish...
                            <br>
                            <br>
                            </div>
                        </div>
                        </div>
                    </div>
                    {% if update_clusters_new_file_message %}
                    <p style="color: rgb(80, 187, 80)">{{ update_clusters_new_file_message }}</p>
                    {% endif %}
                    {% if update_clusters_new_file_no_file_message %}
                    <p style="color:  rgb(250, 89, 89)">{{ update_clusters_new_file_no_file_message }}</p>
                    {% endif %}
                </form>
                <form class="form-style" style="margin-top: 20px;" action="/update_clusters_existing_file"  method="post">
                    <p>Choose exisitng file for clustering</p>
                    <select class="ex_file_update" name="ex_file_update" required>
                        <option value="" selected disabled hidden>(select file)</option>
                        {% for file in files %}
                            <option value="{{ file }}">{{ file }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Cluster with existing file" data-toggle="modal" data-target="#exampleModalCenter">
                                <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
                        <div class="modal-dialog modal-dialog-centered" role="document" data-backdrop="static">
                        <div class="modal-content" data-backdrop="static">
                            <div class="modal-header" data-backdrop="static">
                            <h5 class="modal-title" id="exampleModalLongTitle">Clustering in progress</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            Please do not close this window and wait for clusterization process to finish...
                            <br>
                            <br>
                            </div>
                        </div>
                        </div>
                    </div>
                    {% if update_clusters_existing_file_message %}
                    <p style="color: rgb(80, 187, 80)">{{ update_clusters_existing_file_message }}</p>
                    {% endif %}
                    {% if update_clusters_existing_file_no_file_message %}
                    <p style="color:  rgb(250, 89, 89)">{{ update_clusters_existing_file_no_file_message }}</p>
                    {% endif %}
                </form>
            </div>
            <button id="compare-button" class="button-36" style="margin-top: 40px;">Compare reports</button>
        <div id="compare" style="display: none;">
        <form class="form-style" method="post" action="/compare_with_last_report">
            
            <label for="file-format">File Format:</label><br>

            <input type="radio" id="csv" name="file-format" value="csv">
            <label for="csv">CSV</label>

            <input type="radio" id="excel" name="file-format" value="excel">
            <label for="excel">Excel</label>

            <input type="radio" id="html" name="file-format" value="html">
            <label for="html">HTML</label>

            <input type="radio" id="pdf" name="file-format" value="pdf">
            <label for="pdf">PDF</label>

            <input type="radio" id="powerpoint" name="file-format" value="powerpoint">
            <label for="powerpoint">PowerPoint</label>

            <input type="submit" style="text-align: center;" value="Compare report with last">
        </form>
        <div class="Compare-reports">
            <div class="mt-20" style="margin-top: 20px;">
                <form class="form-style" method="post" action="/compare_selected_reports">
                        <label for="file-format">File Format:</label><br>

                        <input type="radio" id="csv" name="file-format" value="csv">
                        <label for="csv">CSV</label>

                        <input type="radio" id="excel" name="file-format" value="excel">
                        <label for="excel">Excel</label>

                        <input type="radio" id="html" name="file-format" value="html">
                        <label for="html">HTML</label>

                        <input type="radio" id="pdf" name="file-format" value="pdf">
                        <label for="pdf">PDF</label>

                        <input type="radio" id="powerpoint" name="file-format" value="powerpoint">
                        <label for="powerpoint">PowerPoint</label>
                        
                        <br><br>

                        <label for="chosen_files">Choose reports to compare:</label>
                        <select name="raport-1" id="raport-1" required>
                            <option value="" selected disabled hidden>(select file)</option>
                            {% for raport in raports %}
                                <option value="{{ raport }}">{{ raport }}</option>
                            {% endfor %}
                        </select>
                        <select name="raport-2"  id="raport-2" required>
                            <option value="" selected disabled hidden>(select file)</option>
                            {% for raport in raports %}
                                <option value="{{ raport }}">{{ raport }}</option>
                            {% endfor %}
                        </select>
                        <br>
                    <input type="submit" value="Compare reports">
                </form>
            </div>
            </div>
        </div>
    </div>
    <div class="Filter" style="margin-top: 20px;">
        <h3>Filter results</h3>
            <div>
                <p style="text-align: left;">Filter by date</p>
                <label for="filter-from-date">From</label>
                <input style="width: 30%;" type="text" class="filter-from-date">
                <label for="filter-from-date">to</label>
                <input style="width: 30%;" type="text" class="filter-to-date">
            </div>
            <div id="filter-container">
                <div>
                    <p style="text-align: left; margin-top: 20px ;">Filter by other atributes</p>
                    <label for="column">Select a column:</label>
                    <select class="filter-column">
                        {% for column in columns %}
                            <option value="{{ column }}">{{ column }}</option>
                        {% endfor %}
                    </select>
                    <label style="margin-top: 10px;" for="value">Enter a value:</label>
                    <input type="text" class="filter-value">
                    <button class="delete" onclick="deleteFilter(this)">Delete filter</button>
                </div>
            </div>
        <button class="my-button" style="margin-right: 10px;margin-top: 20px;width: 200px;height: 40px;font-size: 14px;text-align: center;" onclick="addFilter()">Add Filter</button>
        <button class="my-button" style="margin-right: 10px;margin-top: 20px;width: 200px;height: 40px;font-size: 14px;text-align: center;" onclick="applyFilters()">Apply Filters</button>
        <div class="Report" style="justify-content: left;">
            <div style="margin-right: 8px;">
                <form action="/get_detailed_filtered_report"  method="post">
                    <input type="submit" value="Get filtered detailed report" style="margin-right: 10px; margin-top: 20px; margin-bottom: 20px; width: 200px; height: 40px; font-size: 14px; text-align: center;">
                    <select id="detailed_filtered_report_type" name="detailed_filtered_report_type">
                        <option value="excel">Excel</option>
                        <option value="csv">CSV</option>
                    </select>
                </form>
            </div>
            <div>
                <form action="/get_exec_filtered_report"  method="post">
                    <input type="submit" value="Get summary filtered report" style="margin-right: 10px; margin-top: 20px; margin-bottom: 20px; width: 200px; height: 40px; font-size: 14px; text-align: center;">
                    <select id="filtered_exec_report_type" name="filtered_exec_report_type">
                        <option value="excel">Excel</option>
                        <option value="csv">CSV</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
    </div>
<script>
    var filters = [];

    function addFilter() {
        var filterContainer = document.getElementById("filter-container");
        
        var filterDiv = document.createElement("div");
        filterDiv.innerHTML = `
            <label for="column">Select a column:</label>
            <select class="filter-column">
                {% for column in columns %}
                <option value="{{ column }}">{{ column }}</option>
                {% endfor %}
            </select>
            <label for="value">Enter a value:</label>
            <input type="text" class="filter-value">
            <button class="delete" onclick="deleteFilter(this)">Delete filter</button>
        `;
        
        filterContainer.appendChild(filterDiv);
    }

    function deleteFilter(button) {
        var filterDiv = button.parentNode;
        filterDiv.parentNode.removeChild(filterDiv);
    }

    function applyFilters() {
        filters = [];
        var filterColumns = document.getElementsByClassName("filter-column");
        var filterValues = document.getElementsByClassName("filter-value");
        //var reportType = document.getElementById("reportTypeInput").value;
        
        for (var i = 0; i < filterColumns.length; i++) {
            var column = filterColumns[i].value;
            var value = filterValues[i].value;
            
            filters.push({ column: column, value: value });
        }
        
        console.log("Filters:", filters); // Print filters to the console
        
        // Make a POST request to the Flask route with the filters
        fetch("/apply_filter", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(filters)
        })
        .then(response => response.blob())
        .then(data => {
            filteredData = data;
        })
        .catch(error => {
            console.error("Error:", error);
        });
    }
    function downloadFilteredData(reportType) {
        if (filteredData) {
            var url = "filter_download_report";
            var reportType = document.getElementById("reportTypeInput").value;
            var data = {
                reportType: reportType,
            };

            if (reportType == 'excel') {
                var extensionType = 'xlsx'
            } else {
                var extensionType = 'csv'
            };
            var linkDownlaod = "filtered_data."+ extensionType;
            console.log(reportType);

            fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            })
            .then(response => response.blob())
            .then(blob => {
                var url = URL.createObjectURL(blob);
                var link = document.createElement("a");
                link.href = url;
                link.download = linkDownlaod;
                link.click();
                URL.revokeObjectURL(url);
            })
            .catch(error => {
                console.error("Error:", error);
            });
        }
    }
    </script>
    <script>
    var button = document.getElementById('compare-button');

    button.onclick = function() {
        var div = document.getElementById('compare');
        if (div.style.display !== 'none') {
            div.style.display = 'none';
        }
        else {
            div.style.display = 'block';
        }
    };
    </script>
    <script>
        var button = document.getElementById('quick-clustering-button');
    
        button.onclick = function() {
            var div = document.getElementById('quick-clustering');
            if (div.style.display !== 'none') {
                div.style.display = 'none';
            }
            else {
                div.style.display = 'block';
            }
        };
    </script>
    <script>
        var button = document.getElementById('download-report-select-button');
    
        button.onclick = function() {
            var div = document.getElementById('download-report-select');
            if (div.style.display !== 'none') {
                div.style.display = 'none';
            }
            else {
                div.style.display = 'block';
            }
        };
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
        var figure = {{ figure | safe }};
        Plotly.plot('scatter', figure.data, figure.layout);
    </script>
</body>
</html>