<html>
  <head>
    <title>NARWOS NLP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <style>
  .container {
    display: grid; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr ; 
    gap: 3px 3px; 
    grid-template-areas: 
      "Load-files Delete-files"; 
  }
  .Load-files { grid-area: Load-files; }
  .Delete-files { grid-area: Delete-files; }

  </style>
  <body >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">NARWOS NLP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="./">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/show_clusters">Analysis</a>
          </li>
        </ul>
      </div>
    </nav>
    <br><br>
    <h3>Managing files</h3>
    <div class="container">
      <div class="Load-files">
        <div class="mt-20">
          <form class="form-style" action="/upload_file" class="mt-20" method="post" enctype="multipart/form-data">
            <label>Load files:</label>
            <input type="file" name="file" multiple required>
            <br><br>
            <input type="submit" value="Upload">
            {% if upload_message %}
            <p style="color: rgb(80, 187, 80)">{{ upload_message }}</h4>
            {% endif %}
            {% if success_upload %}
              <p style="color: rgb(80, 187, 80)">Files uploaded successfully:</p>
              <ol>
              {% for file_ in success_upload %}
                <li>{{file_}}</li>
              {% endfor %}
              </ol>
            {% endif %}
            {% if failed_upload %} 
              <p style="color: rgb(244, 22, 22)">Failed to upload files:</p>
              <ol>
              {% for file_ in failed_upload %}
                <li>{{file_}}</li>
              {% endfor %}
              </ol>
            {% endif %}
            {% if upload_no_file_message %}
            <p style="color: rgb(250, 89, 89)">{{ upload_no_file_message }}</h4>
            {% endif %}
          </form>
        </div>
      </div>
      <div class="Delete-files">
        <div class="mt-20">
          <form class="form-style" action="/delete_file" method="post">
            <label for="to_delete">Delete file:</label>
            <select id="to_delete" name="to_delete" required>
              <option value="" selected disabled hidden>(Choose file)</option>
              {% for file in files %}
                  <option value="{{ file }}">{{ file }}</option>
              {% endfor %}
            </select>
            <br><br>
            <input style="background-color: rgb(250, 89, 89)" type="submit" value="Delete">
            {% if delete_success_message %}
              <p style="color: rgb(80, 187, 80)">{{ delete_success_message }}</h4>
            {% endif %}
            {% if delete_failed_message %}
              <p style="color: rgb(250, 89, 89)">{{ delete_failed_message }}</h4>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
      <div style="align-items: center;">
        <h3>Clustering</h3>
        <div class="mt-20">
          <form class="form-style" method="post" action="/choose_files_for_clusters">
            <label for="chosen_files">Choose files for clustering:</label>
            <br>
            {% for file in files %}
                <input type="checkbox" name="chosen_files" value="{{ file }}"> {{ file }}<br>
            {% endfor %}
            <br>
            <input type="submit" value="Process Selected Files"  data-toggle="modal" data-target="#exampleModalCenter">
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
              <div class="modal-dialog modal-dialog-centered" role="document" data-backdrop="static">
                <div class="modal-content" data-backdrop="static">
                  <div class="modal-header" data-backdrop="static">
                    <h5 class="modal-title" id="exampleModalLongTitle">Clustering in progress</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Please do not close this window and wait for clusterization process to finish...
                    <br>
                    <br>
                  </div>
                </div>
              </div>
            </div>
            {% if cluster_message %}
              <p style="color: rgb(80, 187, 80)">{{ cluster_message }}</h4>
            {% endif %}
            {% if cluster_failed_message %}
              <p style="color: rgb(250, 89, 89)">{{ cluster_failed_message }}</h4>
            {% endif %}
          </form>
        </div>
      </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
