<!DOCTYPE html>
<html>
<head>
    <title>Data Filtering</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" />
</head>
<body>
    <div class="container">
        <h1>Data Filtering</h1>
        <form action="{{ url_for('filter_data') }}" method="POST">
            <div class="form-group">
                <label for="date-slider">Filter Date Range:</label>
                <input id="date-slider" name="date_range" type="text" />
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#date-slider').ionRangeSlider({
                type: 'double',
                grid: true,
                min: +new Date(2000, 0, 1),
                max: +new Date(2023, 11, 31),
                from: +new Date(2010, 0, 1),
                to: +new Date(2012, 0, 1),
                prettify: function (num) {
                    var date = new Date(num);
                    var month = date.getMonth() + 1;
                    var day = date.getDate();
                    var year = date.getFullYear();
                    return month + '/' + day + '/' + year;
                }
            });
        });
    </script>
</body>
</html>